<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d97b0">  <td>16/01/14 13:32:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HNS5_SignUpGoogle.before()[pri:0, instance:com.hns.Testcases.HNS5_SignUpGoogle@27f674d]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1595953398</td>   <td></td> </tr>
<tr bgcolor="9d97b0">  <td>16/01/14 13:33:21</td>   <td>21537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HNS5_SignUpGoogle.signUpUsingGoogle()[pri:0, instance:com.hns.Testcases.HNS5_SignUpGoogle@27f674d]">signUpUsingGoogle</td> 
  <td>main@1595953398</td>   <td></td> </tr>
<tr bgcolor="9d97b0">  <td>16/01/14 13:35:43</td>   <td>164173</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HNS5_SignUpGoogle.after()[pri:0, instance:com.hns.Testcases.HNS5_SignUpGoogle@27f674d]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1595953398</td>   <td></td> </tr>
</table>
